#cardPersonal {
  border-radius: 10px;
  width: 500px;
  border: 2px solid #000000;
  background-color: rgba(18, 8, 40);
  color: rgb(251, 251, 251);
}
.imgPessoal {
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}
.export-card {
  position: fixed; /* posiciona a div em relação à janela do navegador */
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* fundo semitransparente */
  justify-content: center;
  align-items: center;
  z-index: 999; /* define a ordem de empilhamento da div */
}

.confirmacao {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

.btn {
  border-radius: 25px; /* raio da borda */
  background-color: #f2f2f2; /* cor de fundo */
  padding: 10px 20px; /* espaçamento interno */
  border: none; /* remove a borda */
  color: #333; /* cor do texto */
  font-size: 16px; /* tamanho da fonte */
  cursor: pointer; /* cursor de ponteiro ao passar o mouse */
}
