a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
@font-face {
  font-family: "gothicMenu";
  src: url("util/itc-avant-garde-gothic-std-bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5c5c5;
}
